/* 下面是等下要问老师的问题
1. 2号走马灯没办法填满整个格子。总是有空余的部分在右边
2. 1号走马灯的高度很难调节，没办法做到自适应
3. header 的高度没办法做到align center
4. main page about 里yaric 的照片太大，超出了容器 
5. maiin page about 之后的页面把顶上的导览条遮住了*/

html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Rockwill';
    src: url('../fonts/Rockwill.ttf') format('truetype');
}

@font-face {
    font-family: 'franklin-gothic';
    src: url('../fonts/franklin-gothic-condensed.ttf') format('truetype');
}

/* skip to main */
.skip {
    position: absolute;
    top: -400px;
}

.skip:focus {
    top: 25px;
    background-color: white;
}

body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    cursor: none;
}

/* 鼠标的花样儿 */
#invertedcursor {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%);
    z-index: 100;
    mix-blend-mode: difference;
    transition: transform .2s;
    pointer-events: none;
  }

  /* 买票按钮悬浮变色花样儿 */
  .extra-link-text {
    text-align: center;
    margin-right: 20px;
    padding: 20px 40px;
    border-radius: 5px;
    background-color: #4444ff;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

@media (prefers-reduced-motion: reduce) {
    .extra-link-text {
        transition: none; /* 禁用过渡效果 */
    }
}

.extra-link-text:hover {
    background-color: #ffffff;
    color: #000000;
}

.ticket-icon{
    width: 2vw;
    height: auto;
    background-image: url('../images/square-icon4.png');

}

h1 {
    font-family: 'Rockwill';
    text-transform: uppercase;
    margin: 0px;
    font-size: 15vw;
    color: #4444FF;
}

h2,
.marquee-text {
    font-size: 3vw;
    font-family:'franklin-gothic';
    text-transform: uppercase;
    margin: 0px;
    color: black;
}

h3 {
    font-size: 6vw;
    font-family: 'franklin-gothic';
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 10px;
}

p {
    font-size: 1vw;
    text-transform: uppercase;
}

/* 超链接不变色 */
a, a:visited, a:active, a:hover{
    text-decoration: none;
    color: #ffffff;
}
/* 【导览条】关于导览条儿的css 代码。会用在任意一个网页的最顶端。*/

.navbar-container {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav {
    position: relative;
    overflow: hidden;
    background-color: #000000;
    align-items: center; 
    display: flex;
    justify-content: space-between
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.topnav-right a:hover {
    color: #4444ff; 
}

.topnav-right {
    float: right;
}

.videocontainer {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.videocontainer iframe,
.videocontainer video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* 让视频内容铺满，不变形可加这个 */
}

.header-logo {
    width: 100%;
}

.title-logo{
    width: 2%;
}

.title-banner {
    background-color: #000000;

    display: flex;
    align-items: center;
    gap: 30px;
    overflow: hidden;        /* 隐藏溢出部分 */
    white-space: nowrap;     /* 防止自动换行 */
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
  }

.title {
    padding-left: 5vw;
    padding-top: 5vw;
    display: flex;
    align-items: center;
}


/* [背景预留空间】padding-background */
.padding-background{
    background-color: rgb(0, 0, 0);
    width: 100%;
}

.about{
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 1rem;
    height: 100vh;
}
.about content{
    text-align: center;
    margin: 10px;
}

.about content p{
    text-align: center;
    margin: 10px;
}

.about content img{
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 50%;
}

/* 旋转的小图标 */
.rotating-image {
    width: 15vw; /* 你可以根据需要调整大小 */
    height: auto;
    animation: slow-spin 20s linear infinite;
    display: block;
    margin: 10px;
    z-index: 0;
  }
  
@keyframes slow-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

/* reduce motion media query */
@media (prefers-reduced-motion: reduce) {
    .rotating-image {
        animation: none; /* 禁用旋转动画 */
    }
}

/* 关于演出信息 */
.concert {
    height: 100vh;
    padding: 2rem;
    background-color: #681515;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../images/bg-3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .left-top-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .content-block h2 {
    margin: 0 0 0.5rem;
  }
  
  .icon-text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .icon {
    font-size: 1.5rem;
  }

  .icon-text img{
    width: 2vw;
  }
  
  .bottom-right-content {
    bottom: 2rem;
    right: 2rem;
    text-align: right;
   
  }

  .bottom-right-content a{
 
    padding: 10px 20px;
    border-radius: 10px;
  }

/* 【关于嘉宾】关于嘉宾的css代码。用来显示关于嘉宾的排版。flex格式 */

.casts {
    display: flex;
    flex-wrap: wrap; /* 自动换行，如果屏幕放不下 */
    gap: 20px;       /* 每个块之间的间距 */
    justify-content: center; /* 项目左右分布 */
    padding: 0px;
  }
  .cast-information {
    flex: 1 1 calc(33.33% - 20px); /* 三列布局 */
    max-width: calc(33.33% - 20px);
    box-sizing: border-box;
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
  }

  .cast-information img {
    max-width: 100%;
    height: auto;
    display: block; /* 避免图片底部出现空隙 */
    object-fit: cover; /* 如果你希望裁剪图像填充容器 */
  }
  @media (max-width: 900px) {
    .cast-information {
      flex: 1 1 calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
  }



/* 跑马灯特效 最先出现在 new album.html 页面里。也运用到了其他页面 */
.marquee {
    height: 4vw;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #4444FF;
}

.marquee div {
    display: block;
    width: 200%;
    height: 4vw;

    position: absolute;
    overflow: hidden;

    animation: marquee 10s linear infinite;
}

.marquee span {
    float: left;
    width: 50%;
}

@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

@media (prefers-reduced-motion: reduce) {
    .marquee div {
        animation: none; /* 禁用滚动动画 */
    }
}

/* 歌单的css代码。出现在 new album.html 页面里。用来显示歌单的排版。 */
.tracklist {
    gap: 0px;
}

.tracklist-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 4px 2px;
    overflow: hidden;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
    padding: 16px 32px;
    text-align: center;
    cursor: pointer;
    border-top: #2d2d2d 1px solid;
    transition: color 0.3s ease-in-out;

}

.tracklist-list:hover {
  color: rgb(0, 0, 0);
  background: linear-gradient(90deg, #4444FF, #0E5CB1, #2DACB0,#A7E9A1,#2DACB0, #0E5CB1, #4444FF);
  }

/* 增加减少运动模式的样式 */
@media (prefers-reduced-motion: reduce) {
    /* 禁用渐变背景和颜色过渡 */
    .tracklist-list {
        transition: none; /* 禁用所有过渡动画 */
    }

    .tracklist-list:hover {
        color: rgb(0, 0, 0); /* 直接应用文字颜色 */
       
    }
}

.tracklist-item2 {
    text-align: right;
}

.tracklist-item3 {
    text-align: right;
}

/* 【视频背景】出现在 main.html 页面里。用来显示视频背景的排版。 */
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

@media (prefers-reduced-motion: reduce) {
    /* 如果用户选择减少运动，禁用视频，使用静态图片替代 */
    #bg-video {
        display: none;  /* 隐藏视频背景 */
    }

    /* 使用图片背景替代视频 */
    body {
        background: url('../images/reduce-motion-bg.jpg') no-repeat center center fixed;
        background-size: cover;
    }
}

/* 【添加高度】这个类是用来给空白的地方添加高度的。 */
.blank-space-1 {
    height: 80vh;
}

.blank-space-2 {
    height: 35vh;
    background-color: #000000;
}
.blank-space-3 {
    height: 20vh;
    background-color: #000000;
}

.footer {
    background-color: #000000;
}   


